body{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.yellow{
background-color: #d46f10;
}
.red{
background-color: #b93a60;
}
.purple{
background-color: #2048bf;
}
.green{
background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}